.albums-section {
  font-size: 1.6rem;
  margin: auto;
  max-width: 115rem;
  padding-bottom: 6rem;
}

.albums-section h3 {
  color: #001813;
  font-weight: 300;
  margin-bottom: 2rem;
}

.albums-cards-container {
  display: flex;
  gap: 10px;
  margin: auto;
  max-width: 115rem;
  overflow-x: scroll;
  padding-bottom: 1.6rem;
}

.albums-cards-container::-webkit-scrollbar {
  max-width: 1.6rem;
}